@import url();

body{
    margin: 0;
    font-family: "Mythology Of Egypt", "Metamorphous", "Poppins";
}
header {
    display: flex;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar {
    height: 80px;
    width: 1275px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    padding: 2px  45px;
    background-color: rgb(249, 249, 249, 0.7);
    border-radius: 30px;
    
}

.navbar img{
    width: 260px;
    height: 62px;
}


.navlinks {
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.navlinks a{
    font-family: "Poppins";
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;

}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    
    background-image: url("../assets/img/homeHeader.png");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 100vh;
    margin: 0;
}

.hero h1{
    margin: 0;

    font-family: "Mythology Of Egypt";
    font-size: 96px;
    color: #e9ad1c;
}

.hero h3{
    margin: 0;
    padding-top: 25px;
    padding-bottom: 120px;
    font-family:"Metamorphous" ;
    color: white;
    font-size: 24px;
    font-weight: 400;
}
