body{
    margin: 0;
    font-family:'Poppins', sans-serif;
    font-size: 15pt;
    font-weight: 300;
}

@font-face {
    font-family: "TitleFont";
    src: url("../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf");
}

img{
    border-radius: 20px;
}

iframe{
    border-radius: 20px;
}
 

h1 {
    font-family: 'TitleFont', sans-serif;
    font-size: 96pt;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #e9ad1c;
}

h2{
    font-family: 'TitleFont', sans-serif;
    font-size: 76pt;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #ffffff;

}

h3{
    font-family: 'Metamorphous', sans-serif; 
    font-size: 24pt;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

h4{
   
    font-family: 'Metamorphous', sans-serif;
    margin: 0;
    padding: 0;
}

h5{
    margin: 0;
    padding: 0;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 600;
    color: #e9ad1c;
}

h6{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;

}

button{
    background-color: #15d5f5;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14pt;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

button :hover{
    background-color: #e9ad1c;
    color: #002d68;
}
.headerContainer{
    display: flex;
    justify-content: center;
    margin: 0;

    padding-top: 30px;

}
.navbar{
    z-index: 1000;
    margin: 0%;
    height: 80px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px  45px;
    background-color:rgb(249, 249, 249, 0.7);
    border-radius: 30px;
 
}


.navlinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
}

.navlinks a{
    font-family: "Poppins";
    font-size: 18px;
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 400;
}


.navlinks :hover{
    color: aqua;
    cursor: pointer;
}

.searchItem{
    background-color: #ffffff;
    border: 0;
}

.search button{
padding: 0;
color: #4d4d4d;

}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 55%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.blueButtons :hover{
    background-color: #e9ad1c;
    color: #002d68;
    cursor: pointer;
}

.header img{
    border-radius: 0;

}

.header{
    margin: 0;
    background-image: url("../assets/img/homeHeader.png");
    background-repeat: none;
    background-size: cover ;
    height: 100vh;
   
}

.backgroundImgA{
    background-image: url("../assets/img/adoptHeader.png");
    background-size: cover;                 
    background-repeat: no-repeat;          
    width: 100%;       
    height: 45vh;                
}

.backgroundImgC{
    background-image: url("../assets/img/contactHeader.png");
    background-size: cover;                 
    background-repeat: no-repeat;          
    width: 100%;       
    height: 45vh;                
}

.bgBlur{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;       
    height: 45vh; 
    backdrop-filter: blur(5px);   
}






.headings{
    width: 35%;
   position: absolute;
   bottom: 120px;
   right: 10px;
  
    
}



.heading{
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    color: white;
}

.pageDescription{
    margin: 0;
    background-color: #002d68;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.pageDescription p {
    color: white;
}

.filterBar{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #e9ad1c;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.filterBar input{
    border: none;
    border-radius: 15px;
    font-family: 'Poppins';
    background-color: rgba(255, 255, 255, 0.6);
    height: 40px;
    font-size: 14pt;
    padding-left: 20px;
}

.filter{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filterLeft{
    display: flex;
    flex-direction: row;
    gap: 40px;

}

.filterRight{
    display: flex;
    flex-direction: row;
    gap:1em;

}



.flexContainerTop{
    margin: 0;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 5%;
    
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4em;
    color: grey;
    font-size: 14px;
}

.rating i{
    color: #e9ad1c;
}
.simpleRowFlex{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: grey;
    font-size: 24px;
    font-weight: 500;
    gap: 4em;
}



.addCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.addAmount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.addAmount button{
padding: 0;
color: white;
background-color: #e9ad1c;
border-radius: 0%;
}



.inputItem{
    background-color: #e9ad1c;
    border: 0;
    color: #f8f8f8;
    font-size: 16pt;
    text-align: center;
    /* padding: 10px; doesnt add for whole thing */
}



.flex2Col{
    width: 50%;
    margin: 0;
    gap: 0;
    padding-left: 50px;

}

.White{
    background-color: rgb(255, 255, 255);
    color: grey;
}

.White h5{
    color: #15d5f5;
}

.White h6{
    color: #002d68;
}

.blue{
    background-color: #002d68;
    color: white;
}

.fNav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.midAlign{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 70px;
    gap: 20px;
}

.flexCol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    
    
}

.flexRow{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;
    line-height: 1;
    /* flex-wrap: wrap; */
    /* text-align: center; */
}

.flexRow h6{
    font-size: 22px;
    font-weight: 400;
}

.flexRow p {
    font-size: 14px;
}

.fSocialMedia img{
 width: 10% ;
 border-radius: 10px;
 cursor: pointer;
 padding-bottom: 50px;
}

.contactContainer {
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
}

.contactSocials{
    padding-left: 50px;
}

.contactInfo, .contactForm{
    width: 40%;
    padding: 20px;

}

.contactForm form{
    padding: 40px;
    gap: 20px;
    background-image: url(../assets/img/formBackground.png);
    background-size: cover;                 
    background-repeat: no-repeat;   
    border-radius: 20px ;
}

.formElement{
    width: 100%;
    padding: 10px;
}

.contactForm input,
.contactForm select,
.contactForm textarea{
    width: 95%;
    padding: 25px 0;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins';
    color: #000000;
    
}

.contactForm label{
    color: white;
    font-size: 14pt;
    font-weight: 400;
}

.contactInfo{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;

}

.contactSection{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    
}

.footerBrand{
    font-size: 12pt;
    color: #4d4d4d;

}

.footerBrand img{
    width: 25%;
}

.footerNav{
    display: flex;
    flex-direction: row;
    align-items:flex-start ;
}


.footerNav li{
    list-style: none;
}

.footerNav a{
    font-family: "Poppins";
    font-size: 18px;
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 400;
}

.footerLinks img{
    width: 10%;
    border-radius: 10px;
}


.footerTop{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;

}

.footerTop h5{
    color: #000000;
    text-transform: none;
}

.footerBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #4d4d4d;
    font-weight: 400;
}

hr{
    background-color: #c5c5c5; 
    /* idk how to change the color */
}

footer{
    padding: 80px;
}
